db.xml
read-bin.py
README.txt
objects/car.1.pcd
objects/car.2.pcd
objects/car.3.pcd
objects/car.4.pcd
objects/car.5.pcd
objects/car.6.pcd
objects/car.7.pcd
objects/car.8.pcd
objects/car.9.pcd
objects/car.10.pcd
objects/truck.1.pcd
objects/truck.2.pcd
objects/truck.3.pcd
objects/truck.4.pcd
objects/truck.5.pcd
objects/truck.6.pcd
objects/truck.7.pcd
objects/truck.8.pcd
objects/truck.9.pcd
objects/truck.10.pcd
folds/foldNew.txt
objects/newset/first/car.1.pcd
objects/newset/first/car.2.pcd
objects/newset/first/car.3.pcd
objects/newset/first/car.4.pcd
objects/newset/first/car.5.pcd
objects/newset/first/car.6.pcd
objects/newset/first/car.7.pcd
objects/newset/first/car.8.pcd
objects/newset/first/car.9.pcd
objects/newset/first/car.10.pcd
objects/newset/first/car.11.pcd
objects/newset/first/car.12.pcd
objects/newset/first/pedestrian.1.pcd
objects/newset/first/pedestrian.2.pcd
objects/newset/first/pedestrian.3.pcd
objects/newset/first/pedestrian.4.pcd
objects/newset/first/pedestrian.5.pcd
objects/newset/first/pedestrian.6.pcd
objects/newset/first/pedestrian.7.pcd
objects/newset/first/pedestrian.8.pcd
objects/newset/first/pedestrian.9.pcd
objects/newset/first/pedestrian.10.pcd
objects/newset/first/pedestrian.11.pcd
objects/newset/first/pedestrian.12.pcd
objects/newset/first/truck.1.pcd
objects/newset/first/truck.2.pcd
objects/newset/first/truck.3.pcd
objects/newset/first/truck.4.pcd
objects/newset/first/truck.5.pcd
objects/newset/first/truck.6.pcd
objects/newset/first/truck.7.pcd
objects/newset/first/truck.8.pcd
objects/newset/first/truck.9.pcd
objects/newset/first/truck.10.pcd
objects/newset/first/truck.11.pcd
objects/newset/first/truck.12.pcd
objects/newset/second/car.1.pcd
objects/newset/second/car.2.pcd
objects/newset/second/car.3.pcd
objects/newset/second/car.4.pcd
objects/newset/second/car.5.pcd
objects/newset/second/car.6.pcd
objects/newset/second/car.7.pcd
objects/newset/second/car.8.pcd
objects/newset/second/car.9.pcd
objects/newset/second/car.10.pcd
objects/newset/second/car.11.pcd
objects/newset/second/car.12.pcd
objects/newset/second/pedestrian.1.pcd
objects/newset/second/pedestrian.2.pcd
objects/newset/second/pedestrian.3.pcd
objects/newset/second/pedestrian.4.pcd
objects/newset/second/pedestrian.5.pcd
objects/newset/second/pedestrian.6.pcd
objects/newset/second/pedestrian.7.pcd
objects/newset/second/pedestrian.8.pcd
objects/newset/second/pedestrian.9.pcd
objects/newset/second/pedestrian.10.pcd
objects/newset/second/pedestrian.11.pcd
objects/newset/second/pedestrian.12.pcd
objects/newset/second/truck.1.pcd
objects/newset/second/truck.2.pcd
objects/newset/second/truck.3.pcd
objects/newset/second/truck.4.pcd
objects/newset/second/truck.5.pcd
objects/newset/second/truck.6.pcd
objects/newset/second/truck.7.pcd
objects/newset/second/truck.8.pcd
objects/newset/second/truck.9.pcd
objects/newset/second/truck.10.pcd
objects/newset/second/truck.11.pcd
objects/newset/second/truck.12.pcd
